<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<script defer src="https://unpkg.com/alpinejs"></script>
		<title>{% block title %}{% endblock title %}</title>
	</head>
	<body>
		<header>
			<navbar>
				<ul class="flex justify-center space-x-6">
					<li><a href="{% url "payment:index" %}">Home</a></li>
					<li><a href="{% url "payment:contact" %}">contact</a></li>
					<li><a href="{% url "payment:about" %}">About</a></li>
				</ul>
			</navbar>
		</header>
		{% block main %}{% endblock main %}
	</body>
</html>
